body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding-inline: 1em;
}

:root {
  --color-accent: oklch(65% 50% 0); 
}

html {
  color-scheme: light dark;
  accent-color: var(--color-accent);
}

nav {
  display: flex;              
  gap: 1em;                
  border-bottom: 1px solid lightgray;
  margin-bottom: 1em;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom: 1px solid var(--border-color);
}

nav a {
  text-decoration: none;    
  color: canvastext;            
  text-align: center;
  padding: 0.25em;
  flex: 1;                  
}

nav a:hover {
  color: white;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  border-bottom: 0.4em solid var(--color-accent);
}

nav a.current {
  border-bottom: 0.4em solid lightgray;
  padding-bottom: 0.1em;
}

form {
  max-width: 600px;
  margin-inline: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: 1em;                        
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;            
  font: inherit;
}

form input,
form textarea,
form button {
  width: 100%;
  box-sizing: border-box;
}

form button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects h2 {
  margin: 0;
  color: var(--color-accent);
}

.my_picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto; 
}

.my_name {
  text-align: center;
  color: var(--color-accent);
}

.about_me {
  text-align: center;
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

label.color-scheme select {
  font: inherit;
}

.year {
  color: white;
  font-family: Baskerville, serif;
  font-variant-numeric: oldstyle-nums;
  margin-top: 0.5em;
}

#projects-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
  display: block;
  margin-inline: auto;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  margin-block: 2em;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--color);
  border-radius: 2px;
}

.searchBar {
  display: block;
  margin: 1em auto;
  padding: 0.5em;
  font-size: 1em;
  width: 80%;
  max-width: 400px;
}

.selected {
  --color: oklch(60% 45% 0) !important;
}

#projects-plot path.selected {
  fill: var(--color);
  cursor: pointer;
}

#projects-plot path {
  cursor: pointer;
  transition: 300ms;
}

#projects-plot:has(path:hover) path:not(:hover) {
  opacity: 0.5;
}

/* ---------------------- LAB 8 STYLES BELOW ---------------------- */

.loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: var(--color, steelblue);
  border-radius: 50%;
}

#files {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#files > div {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

#files dt {
  grid-column: 1;
}

#files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}

#scrolly-1 {
  position: relative;
  display: flex;
  gap: 1rem;
}

#scrolly-1 > * {
  flex: 1;
}

#scatter-story {
  position: relative;
}

#scatter-plot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}
circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
  @starting-style {
      r: 0;
  }
}

circle:hover {
  transform: scale(1.5);
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

@keyframes marching-ants {
  to {
      stroke-dashoffset: -8;
  }
}
